body {
    font-family: sans-serif;
}

#smi_events ul li {
	list-style-type: none;
}

.smi_event {
	margin-bottom: 25px;
}

.smi_event_what {
    font-weight: 700;
    margin-bottom: 4px;
}

.smi_event_when {

}

.smi_event_where {
    font-size: small;
}
